@model HANGOSELL_KLTN.Models.EF.ModelDataset

@{
    ViewData["Title"] = "Edit Employee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="time-table.html">Employee</a></li>
                        <li class="breadcrumb-item active">Edit Employee</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/Admin/Employee/Edit" method="POST" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.employee.Id" required>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="CodeEmployee" class="form-label">CodeEmployee<span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="CodeEmployee" name="CodeEmployee" value="@Model.employee.CodeEmployee" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="EmployeeName" class="form-label">EmployeeName <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" value="@Model.employee.EmployeeName" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="email" class="form-label">Email <span class="login-danger">*</span></label>
                                    <input type="email" class="form-control" id="email" name="Email" value="@Model.employee.Email" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="DateOfBirth" class="form-label">DateOfBirth <span class="login-danger">*</span></label>
                                    <input type="date" class="form-control" id="dateOfBirth datetimepicker" name="DateOfBirth" value="@Model.employee.DateOfBirth.ToString("yyyy-MM-dd")" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="phoneNumber" class="form-label">Phone Number <span class="login-danger">*</span></label>
                                    <input type="tel" class="form-control" id="phoneNumber" name="PhoneNumber" value="@Model.employee.PhoneNumber">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Address" class="form-label">Address <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.employee.Address" required>
                                </div>
                            </div>


                            <div class="col-12 col-sm-4">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="form-group local-forms">
                                            <label>Profile <span class="login-danger">*</span></label>
                                            <input type="file" id="image" name="image" class="form-control" style="height: 45px;" value="@Model.employee.Avatar">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="user-img" id="prenone" style="margin-left: -20px;height: 45px;">
                                            <img class="rounded-circle" src="~/@Model.employee.Avatar" id="prenoneImg">
                                        </div>
                                        <div class="user-img" id="preview" style="margin-left: -20px;height: 45px; display:none;">
                                            <img class="rounded-circle" id="previewImg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.getElementById('image').addEventListener('change', function (event) {
                                    const file = event.target.files[0];
                                    if (file) {
                                        const reader = new FileReader();
                                        reader.onload = function (e) {
                                            const preview = document.getElementById('previewImg');
                                            preview.src = e.target.result;
                                            preview.parentElement.style.display = 'block';
                                            const prenone = document.getElementById('prenoneImg');
                                            prenone.parentElement.style.display = 'none';
                                        };
                                        reader.readAsDataURL(file);
                                    }
                                });
                            </script>


                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="JoinDate" class="form-label">JoinDate <span class="login-danger">*</span></label>
                                    <input type="date" class="form-control " id="JoinDate datetimepicker" value="@Model.employee.JoinDate.ToString("yyyy-MM-dd")"  name="JoinDate">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Status" class="form-label">Status <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="status">
                                        <option disabled>Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="Disable">Disable</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="Position" class="form-label">Position <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="Position" value="@Model.employee.Position" name="Position">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Role <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="RoleId">
                                        @if (Model != null)
                                        {
                                            @foreach (var employee in Model.roles)
                                            {
                                                <option value="@employee.Id">@employee.RoleName</option>
                                            }

                                        }
                                        else
                                        {
                                            <option>0</option>
                                        }
                                    </select>
                                </div>
                            </div>



                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

