@model List<HANGOSELL_KLTN.Models.EF.Customer>

@{
    ViewData["Title"] = "List Customer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">

            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">List Customer</h3>
                    <div class="col-auto text-end float-end ms-auto download-grp">
                        <a href="/Admin/Customer" class="btn btn-outline-primary me-2">
                            <i class="fas fa-download"></i> Download
                        </a>
                        <a href="/Admin/Customer/CreateCustomer" class="btn btn-primary">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="card bg-comman w-100">
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check check-tables">
                                            <input class="form-check-input" type="checkbox" value="something">
                                        </div>
                                    </th>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Company</th>
                                    <th class="text-center">Contact Person</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Phone Number</th>
                                    <th class="text-center">Address</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td class="text-center">@item.Id</td>
                                        <td class="text-center">@item.CompanyName</td>
                                        <td class="text-center">@item.ContactPerson</td>
                                        <td class="text-center">@item.Email</td>
                                        <td class="text-center">@item.PhoneNumber</td>
                                        <td class="text-center">@item.Address</td>
                                        <td class="text-center">
                                            <a href="/Admin/Customer/EditCustomer/@item.Id" class="btn btn-sm btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="/Admin/Customer/DetailCustomer/@item.Id" class="btn btn-sm btn-info">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                            <a href="/Admin/Customer/Delete/@item.Id" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

