@using Microsoft.AspNetCore.Http
@using HANGOSELL_KLTN.Configuration
@using Microsoft.Extensions.Localization
@inject SharedViewLocalizer _localizer
@inject IHttpContextAccessor HttpContextAccessor

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>@_localizer.GetLocalizedString("Main Menu")</span>
                </li>

                <li class="">
                    <a href="/Admin/Home">
                        <i class="fas fa-home"></i> <!-- Icon trang chủ -->
                        <span> @_localizer.GetLocalizedString("Dashboard")</span>
                    </a>
                </li>

                <li class="">
                    <a href="/Admin/Store">
                        <i class="fas fa-store"></i> <!-- Icon cửa hàng -->
                        <span> @_localizer.GetLocalizedString("Store Management")</span>
                    </a>
                </li>

                <li class="">
                    <a href="/Admin/Employee">
                        <i class="fas fa-user-tie"></i> <!-- Icon quản lý nhân viên -->
                        <span> @_localizer.GetLocalizedString("Employee Management")</span>
                    </a>
                </li>

                <li class="">
                    <a href="/Admin/Customer">
                        <i class="fas fa-users"></i> <!-- Icon khách hàng -->
                        <span> @_localizer.GetLocalizedString("Customer Management")</span>
                    </a>
                </li>

                <li class="">
                    <a>
                        <i class="fas fa-box-open"></i> <!-- Icon sản phẩm -->
                        <span> @_localizer.GetLocalizedString("Product Management")</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul>
                        <li><a href="/Admin/Category">@_localizer.GetLocalizedString("Category")</a></li>
                        <li><a href="/Admin/Product"> @_localizer.GetLocalizedString("Product")</a></li>
                    </ul>


                </li>
                <li class="">
                    <a href="/Admin/Invoice">
                        <i class="fas fa-file-invoice-dollar"></i> <!-- Icon hóa đơn -->
                        <span>@_localizer.GetLocalizedString("Invoice Management")</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

@functions {
    private string set_active(string[] controllers)
    {
        var controller = HttpContextAccessor.HttpContext.Request.RouteValues["controller"].ToString();
        return controllers.Contains(controller) ? "active" : "";
    }
}

