@model HANGOSELL_KLTN.Models.EF.ModelDataset
@using HANGOSELL_KLTN.Configuration
@inject SharedViewLocalizer _localizer

@{
    ViewData["Title"] = "Bill Payment";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div id="print-area" class="card bg-comman w-100">
                <div class="card-body">
                    <div class="row">
                        <!-- Logo và tiêu đề hóa đơn -->
                        <div class="col-6">
                            <a href="/Admin/Home/" class="logo">
                                <img src="@Url.Content("~/Client/img/iconlogo.png")" alt="Logo" width="60" height="60">
                            </a>
                            <a href="/Admin/Home/" class="logo">
                                <img src="@Url.Content("~/Client/img/LogoHanGoSell.png")" alt="Logo" width="250" height="70">
                            </a>
                        </div>
                        <div class="col-6">
                            <h3 class="text-end">
                                BillPayment
                            </h3>
                        </div>
                    </div>

                    <!-- Thông tin hóa đơn -->
                    <div class="row">
                        <div class="col-6">
                            <table class="inv-num-date text-dark f-13 mt-3">
                                <tbody>
                                    <tr>
                                        <td class="bg-light-grey border-right-0 f-w-500">
                                            HD:
                                        </td>
                                        <td class="border-left-0">@Model.order.Code</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light-grey border-right-0 f-w-500">
                                            Date:
                                        </td>
                                        <td class="border-left-0">@Model.order.CreateDate</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <p>CompanyName: @Model.customer.CompanyName </p>
                            <p>Customer: @Model.customer.ContactPerson</p>
                            <p>Email: @Model.customer.Email</p>
                        </div>

                    </div>


                    <!-- Trạng thái hóa đơn -->
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6" align="right">
                            <td align="right" class="mt-lg-0 mt-md-0">
                                <span class="unpaid text-warning border-warning rounded f-15">@Model.order.Status</span>
                            </td>
                        </div>
                    </div>


                    <!-- Chi tiết hóa đơn -->
                    <table width="100%" class="inv-desc d-none d-lg-table d-md-table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <table class="inv-detail f-14 table-responsive-sm" width="100%">
                                        <tbody>
                                            <tr class="i-d-heading bg-light-grey text-dark-grey font-weight-bold">
                                                <td class="border-right-0" width="35%">Sự miêu tả</td>
                                                <td class="border-right-0 border-left-0" align="right">
                                                    Qty\hrs
                                                </td>
                                                <td class="border-right-0 border-left-0" align="right">
                                                    Đơn Giá (VND)
                                                </td>
                                                <td class="border-right-0 border-left-0" align="right">Thuế</td>
                                                <td class="border-left-0" align="right">
                                                    Số tiền (VND)
                                                </td>
                                            </tr>
                                            @foreach (var or in Model.orderDetail)
                                            {
                                                <tr class="text-dark">
                                                    <td>@or.Product.Title</td>
                                                    <td align="right">@or.Quantity</td>
                                                    <td align="right">@or.Product.Price</td>
                                                    <td align="right"></td>
                                                    <td align="right">@or.TotalPrice</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3" class="blank-td border-bottom-0 border-left-0 border-right-0"></td>
                                                <td class="p-0 border-right-0">
                                                    <table width="100%">
                                                        <tbody>
                                                            <tr class="text-dark-grey" align="right">
                                                                <td class="w-50 border-top-0 border-left-0">Tổng phụ</td>
                                                            </tr>
                                                            <tr class="bg-light-grey text-dark f-w-500 f-16" align="right">
                                                                <td class="w-50 border-bottom-0 border-left-0">Tổng</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="p-0 border-right-0" align="right">
                                                    <table width="100%">
                                                        <tbody>
                                                            <tr class="text-dark-grey" align="right">
                                                                <td class="border-top-0 border-left-0">@ViewData["TongTien"]</td>
                                                            </tr>
                                                            <tr class="bg-light-grey text-dark f-w-500 f-16" align="right">
                                                                <td class="border-bottom-0 border-left-0">@ViewData["TongTien"]</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12">
                <div class="student-submit">
                    <button onclick="printDiv('print-area')" class="btn btn-primary">@_localizer.GetLocalizedString("Print Invoice")</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function printDiv(divId) {
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

</script>
