@model List<HANGOSELL_KLTN.Models.EF.ModelDataset>
@using HANGOSELL_KLTN.Configuration
@inject SharedViewLocalizer _localizer

@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">@_localizer.GetLocalizedString("Add") @_localizer.GetLocalizedString("Product")</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Product">@_localizer.GetLocalizedString("Product")</a></li>
                        <li class="breadcrumb-item active">@_localizer.GetLocalizedString("Add") @_localizer.GetLocalizedString("Product")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/Admin/Product/Create" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="mb-3">
                                <label for="ProductCode" class="form-label">@_localizer.GetLocalizedString("Product Code") <span class="login-danger">*</span></label>
                                <input type="text" class="form-control" id="ProductCode" name="ProductCode" required>
                            </div>

                            <div class="mb-3">
                                <label for="Title" class="form-label">@_localizer.GetLocalizedString("Title") <span class="login-danger">*</span></label>
                                <input type="text" class="form-control" id="Title" name="Title" required>
                            </div>

                            <div class="mb-3">
                                <label for="ProductCategoryId" class="form-label">@_localizer.GetLocalizedString("Category") <span class="login-danger">*</span></label>
                                <select class="form-control" id="ProductCategoryId" name="ProductCategoryId" required>
                                    <option value="">---none---</option>
                                    @foreach (var category in Model)
                                    {
                                        <option value="@category.category.Id">@category.category.Title</option>
                                    } 
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="Description" class="form-label">@_localizer.GetLocalizedString("Description")</label>
                                <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="Image" class="form-label">@_localizer.GetLocalizedString("Image")</label>
                                <input type="file" class="form-control" id="Image" name="Image">
                            </div>

                            <div class="mb-3">
                                <label for="Price" class="form-label">@_localizer.GetLocalizedString("Price") <span class="login-danger">*</span></label>
                                <input type="number" class="form-control" id="Price" name="Price" step="0.01" required>
                            </div>

                            <div class="mb-3">
                                <label for="PriceSale" class="form-label">@_localizer.GetLocalizedString("Sale Price")</label>
                                <input type="number" class="form-control" id="PriceSale" name="PriceSale" step="0.01">
                            </div>

                            <div class="mb-3">
                                <label for="Quantity" class="form-label">@_localizer.GetLocalizedString("Quantity") <span class="login-danger">*</span></label>
                                <input type="number" class="form-control" id="Quantity" name="Quantity" required>
                            </div>

                            

                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">@_localizer.GetLocalizedString("Create")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
