@model HANGOSELL_KLTN.Models.EF.ModelDataset
@using HANGOSELL_KLTN.Configuration
@inject SharedViewLocalizer _localizer
@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">@_localizer.GetLocalizedString("Edit") @_localizer.GetLocalizedString("Product")</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Product">@_localizer.GetLocalizedString("Product")</a></li>
                        <li class="breadcrumb-item active">@_localizer.GetLocalizedString("Edit") @_localizer.GetLocalizedString("Product")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-body">
                    <form action="/Admin/Product/Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="@Model.product.Id" class="form-control" id="Id" name="Id" value="@Model.product.Id" />

                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.Title" class="form-label">@_localizer.GetLocalizedString("Title")</label>
                                    <input asp-for="@Model.product.Title" class="form-control" id="Title" name="Title" value="@Model.product.Title" />
                                    <span asp-validation-for="@Model.product.Title" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.ProductCode" class="form-label">@_localizer.GetLocalizedString("Product Code")</label>
                                    <input asp-for="@Model.product.ProductCode" class="form-control" id="ProductCode" name="ProductCode" value="@Model.product.ProductCode" />
                                    <span asp-validation-for="@Model.product.ProductCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.ProductCategoryId" class="form-label">@_localizer.GetLocalizedString("Category")</label>
                                    <select asp-for="@Model.product.ProductCategoryId" class="form-control select" id="ProductCategoryId" name="ProductCategoryId">
                                        <!-- Populate options dynamically from categories -->
                                        @foreach (var category in Model.categories)
                                        {
                                            <option value="@category.Id"> @category.Title </option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.product.ProductCategoryId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.Description" class="form-label">@_localizer.GetLocalizedString("Description")</label>
                                    <input asp-for="@Model.product.Description" class="form-control" id="Description" name="Description" value="@Model.product.Description"></input>
                                    <span asp-validation-for="@Model.product.Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="form-group local-forms">
                                            <label>@_localizer.GetLocalizedString("Image") <span class="login-danger">*</span></label>
                                            <input type="file" id="Image" name="Image" class="form-control" style="height: 45px;" value="@Model.product.Image">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="user-img" id="prenone" style="margin-left: -20px;height: 45px;">
                                            <img class="rounded-circle" src="~/@Model.product.Image" id="prenoneImg">
                                        </div>
                                        <div class="user-img" id="preview" style="margin-left: -20px;height: 45px; display:none;">
                                            <img class="rounded-circle" id="previewImg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.getElementById('image').addEventListener('change', function (event) {
                                    const file = event.target.files[0];
                                    if (file) {
                                        const reader = new FileReader();
                                        reader.onload = function (e) {
                                            const preview = document.getElementById('previewImg');
                                            preview.src = e.target.result;
                                            preview.parentElement.style.display = 'block';
                                            const prenone = document.getElementById('prenoneImg');
                                            prenone.parentElement.style.display = 'none';
                                        };
                                        reader.readAsDataURL(file);
                                    }
                                });
                            </script>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.Quantity" class="form-label">@_localizer.GetLocalizedString("Quantity")</label>
                                    <input asp-for="@Model.product.Quantity" class="form-control" id="Quantity" name="Quantity" type="number" value="@Model.product.Quantity" />
                                    <span asp-validation-for="@Model.product.Quantity" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.Price" class="form-label">@_localizer.GetLocalizedString("Price")</label>
                                    <input asp-for="@Model.product.Price" class="form-control" id="Price" name="Price" type="number"  value="@Model.product.Price" />
                                    <span asp-validation-for="@Model.product.Price" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.product.PriceSale" class="form-label">@_localizer.GetLocalizedString("Sale Price")</label>
                                    <input asp-for="@Model.product.PriceSale" class="form-control" id="PriceSale" name="PriceSale" type="number"  value="@Model.product.PriceSale" />
                                    <span asp-validation-for="@Model.product.PriceSale" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">@_localizer.GetLocalizedString("Save Changes")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

